@model CreatePostViewModel
@{
    ViewBag.Title = "Create";
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Scripts/Create.js"></script>
    

}

<h2>Create Post</h2>


<form method="post" enctype="multipart/form-data">
    @Html.ValidationSummary(false)

    <div class="form-group">
        @Html.LabelFor(p => p.Title, "Title:")
        @Html.TextBoxFor(p => p.Title, new { @class = "form-control", placeholder = "Title" })
    </div>

    

    <div class="form-group">
        @Html.LabelFor(p => p.Body, "Blog:")
        @Html.TextBoxFor(p => p.Body, new { @class = "form-control", placeholder = "Blog" })
    </div>

    <div class="form-group">
        <input type="file" name="Media" />
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Published, "Published")
        @Html.CheckBoxFor(p => p.Published, new { @class = "form-control" })

        <div class="">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>

    </div>
</form>
