@model List<IndexPostViewModel>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div>
    
    <hr />
    @if (Model.Any())
    {
   

        foreach (var record in Model)
        {
            <div class="post-preview">
                
                    <p class="post-title">
                        @record.Title
                    </p>
                    <p class="post-title">
                        @record.Published
                    </p>
                    <p class="post-meta">
                        Posted by
                        @record.User.UserName
                        on  @record.DateCreated
                        Edited on
                        @record.DateUpdated
                    </p>
            </div>
            
                @*<td>@record.Title</td>
                <td>@record.Published</td>
                <td>@record.User.UserName</td>
                <td>@record.DateCreated</td>
                <td>@record.DateUpdated</td>
            </tr>*@
        }
    
    }
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
